/* -----------Navigation Bar-------------*/
.nav{
    display: flex;
    background-color: #fefefe ;

}
.Logo{
    height: 70px;
    width: 70px;
    padding: 10px;
    padding-right: 20px;

}
.navh1{
    color: #000043;
}

.il{
    display: flex;
    color: #000043;
    padding: 10px;

}




body{
    background-color: #000043;
}